/* not needed on live
#rootwizard {
  margin: 5%; 
}
*/




body {
  position: absolute;
}

#navList {
  margin-bottom: 20px;
}

@media (max-width: 400px) {
  .container {
    height: 0;
  }
  #navList li a {
    display: block;
    width: 0;
    height: 0;
    padding: 0;
    margin: 0;
    visibility: hidden;
  }
}

.fa {
  line-height: inherit;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.tent-calc-item, .container-fluid {
  min-width: 200px;
  padding-left: 0px;
  padding-right: 0px;
}
@media (min-width: 768px) {
  .tent-calc-item {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.pager {
  clear: both;
}

.panel-footer {
  padding: 0;
}

.tent-img {
  width: 100%;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

.startQuoteBtn {
  float: right;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus, .progress-bar, .btn-primary {
  background-color:#1276ba
}